:root {
    --std-padding: 20px;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

input[type='search'] {
    width: clamp(100px, 90%, 500px);
    height: 1.5em;
    padding: 0 1ch;
    border: none;
    border-radius: 20px;

    &:focus {
        outline: 1px solid black;
    }
}

.wrapper {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

.header {
    grid-column: 2;
    background-color: aquamarine;

    display: grid;
    grid-template: 1fr 2fr / 4fr 3fr;
    align-items: center;

    & .options {
        border: 1px solid green;
        & ul {
            margin: 0;
            padding: 0;
            list-style: none;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;

            & li {
                flex: 0 1 auto;
                display: grid;
                align-items: center;
                justify-items: center;

                min-width: 100px;
                padding: 10px;
                border-radius: 20px;
                background-color: white;
            }
        }
    }
}

.search {
    border: 1px solid green;
    & svg {
        vertical-align: middle;
    }
}

.account {
    border: 1px solid green;
    display: grid;
    grid-template: 1fr / repeat(3, min-content);
    align-items: center;
    justify-content: end;
    gap: var(--std-padding);

    font-size: 1.2rem;
    font-weight: bold;

    & svg,
    & div {
        display: inline-block;
    }
}

.profile {
    display: grid;
    grid-template: 1fr / min-content 1fr;
    align-items: center;
    gap: 15px;
}

.aside {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 5px;

    & .user {
        font-weight: bold;
    }
}

.welcome {
    border: 1px solid green;

    & .profile {
        font-size: 1.2rem;
        font-weight: bold;
        & .user {
            font-size: 1.4em;
        }
    }
}

.sidebar {
    background-color: cornflowerblue;
    color: white;
    grid-row: 1 / -1;

    display: grid;
    grid-template: 1fr 4fr 6fr / 1fr;

    & .options {
        border: 1px solid blue;

        & ul {
            list-style: none;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

.logo {
    background-color: 1px solid blue;

    & svg,
    & h1 {
        display: inline-block;
        vertical-align: middle;
    }
}

.main {
    background-color: lightblue;
    padding: var(--std-padding);

    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    gap: var(--std-padding);
}

.projects {
    grid-row: 1 / -1;
}

.project-grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 30px;
}

.announcements-grid {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;

    & .section:not(:last-child) {
        border-bottom: 1px solid black;
    }
}

.title {
    grid-column: 1 / -1;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 30px;

    display: grid;
    gap: var(--std-padding);

    & .options {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: min-content;
        grid-template-columns: min-content;
        justify-content: end;
        gap: 2ch;
        font-size: 1.5rem;
    }
}

.attribution {
    display: block;
    margin-top: var(--std-padding);
    text-align: center;

    color: inherit;
}